*{font-family:"Algerian";}
#p1{  text-align: justify;
	font-size: 14px;
	color: #34AB63;
	margin-left: 100px;
	background-color:black;
	opacity: 0.7;}
#p2{text-align: justify;
	font-size: 14px;
	color: #34AB63;
	
	background-color:black;
	
	margin-left: 100px;
	opacity: 0.7;}